@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
header {
  padding: 1rem;
}

@media screen and (min-width: 40rem) {
  header {
    padding: 3rem;
  }
}

@media screen and (min-width: 64rem) {
  header {
    padding: 5rem;
  }
}

header .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .flex img {
  width: 6rem;
}

@media screen and (min-width: 40rem) {
  header .flex img {
    width: 7rem;
  }
}

@media screen and (min-width: 64rem) {
  header .flex img {
    width: 8rem;
  }
}

header .flex button {
  width: 6rem;
  height: 2rem;
  color: #ff8fd8;
  background-color: white;
  border: 1px solid #ff8fd8;
  border-radius: 25px;
}

header .flex button:hover {
  cursor: pointer;
  color: #ff52bf;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-weight: 700;
}

header .flex button:active {
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  border-color: #b80074;
  color: #b80074;
}

section#build {
  padding: 5rem 3rem 0 3rem;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 40rem) {
  section#build {
    padding: 5rem 5rem 0 5rem;
  }
}

@media screen and (min-width: 64rem) {
  section#build {
    padding-top: 3rem;
  }
}

section#build h1 {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

section#build p {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

@media screen and (min-width: 40rem) {
  section#build p {
    width: 25rem;
    margin: 1rem auto 2rem auto;
  }
}

section#build button {
  width: 230px;
  height: 40px;
  color: white;
  font-weight: 700;
  background-color: #ff52bf;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 8px 0 gray;
          box-shadow: 0px 3px 8px 0 gray;
}

@media screen and (min-width: 40rem) {
  section#build button {
    height: 50px;
    border-radius: 25px;
  }
}

section#build button:hover {
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #ff8fd8;
}

section#build button:active {
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  background-color: #f5009f;
}

section#mockup {
  padding: 5rem 2rem;
}

@media screen and (min-width: 40rem) {
  section#mockup {
    padding: 5rem 5rem;
  }
}

@media screen and (min-width: 64rem) {
  section#mockup {
    padding: 5rem 10rem;
  }
}

@media screen and (min-width: 90rem) {
  section#mockup {
    padding: 5rem 15rem;
  }
}

section#mockup img {
  width: 100%;
}

@media screen and (min-width: 40rem) {
  section#mockup .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

section#mockup .grid .card {
  width: 12rem;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 1rem;
  text-align: left;
}

@media screen and (min-width: 64rem) {
  section#mockup .grid .card {
    margin-top: 2rem;
  }
}

section#mockup .grid .card img {
  position: relative;
  width: 25px;
  left: 0.8rem;
  top: 6px;
}

section#mockup .grid .card h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
}

section#mockup .grid .card p {
  color: gray;
}

section#grow {
  padding: 7rem 3rem;
  background-color: #f5faff;
}

@media screen and (min-width: 40rem) {
  section#grow {
    padding: 5rem 5rem;
  }
}

@media screen and (min-width: 64rem) {
  section#grow {
    padding: 5rem 8rem;
  }
}

@media screen and (min-width: 90rem) {
  section#grow {
    padding: 5rem 10rem;
  }
}

section#grow .flex img {
  width: 100%;
  max-width: 500px;
}

section#grow .flex .text {
  margin-top: 3rem;
}

section#grow .flex .text h2 {
  font-size: 1.1rem;
}

section#grow .flex .text p {
  margin-top: 1rem;
}

@media screen and (min-width: 40rem) {
  section#grow .flex .text {
    margin-top: 0;
  }
  section#grow .flex .text h2, section#grow .flex .text p {
    text-align: left;
  }
}

@media screen and (min-width: 64rem) {
  section#grow .flex .text h2 {
    font-size: 1.4rem;
  }
  section#grow .flex .text p {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 90rem) {
  section#grow .flex .text h2 {
    font-size: 1.7rem;
  }
  section#grow .flex .text p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 40rem) {
  section#grow .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 3rem;
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

section#flow {
  padding: 7rem 3rem;
}

@media screen and (min-width: 40rem) {
  section#flow {
    padding: 5rem 5rem;
  }
}

@media screen and (min-width: 64rem) {
  section#flow {
    padding: 5rem 8rem;
  }
}

@media screen and (min-width: 90rem) {
  section#flow {
    padding: 5rem 10rem;
  }
}

section#flow .flex img {
  width: 100%;
  max-width: 500px;
}

section#flow .flex .text {
  margin-top: 3rem;
}

section#flow .flex .text h2 {
  font-size: 1.1rem;
}

section#flow .flex .text p {
  margin-top: 1rem;
}

@media screen and (min-width: 40rem) {
  section#flow .flex .text {
    margin-top: 0;
  }
  section#flow .flex .text h2, section#flow .flex .text p {
    text-align: left;
  }
}

@media screen and (min-width: 64rem) {
  section#flow .flex .text h2 {
    font-size: 1.4rem;
  }
  section#flow .flex .text p {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 90rem) {
  section#flow .flex .text h2 {
    font-size: 1.7rem;
  }
  section#flow .flex .text p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 40rem) {
  section#flow .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 3rem;
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-direction: row;
        flex-direction: row;
  }
}

section#users {
  padding: 7rem 3rem;
  background-color: #f5faff;
}

@media screen and (min-width: 40rem) {
  section#users {
    padding: 5rem 5rem;
  }
}

@media screen and (min-width: 64rem) {
  section#users {
    padding: 5rem 8rem;
  }
}

@media screen and (min-width: 90rem) {
  section#users {
    padding: 5rem 10rem;
  }
}

section#users .flex img {
  width: 100%;
  max-width: 500px;
}

section#users .flex .text {
  margin-top: 3rem;
}

section#users .flex .text h2 {
  font-size: 1.1rem;
}

section#users .flex .text p {
  margin-top: 1rem;
}

@media screen and (min-width: 40rem) {
  section#users .flex .text {
    margin-top: 0;
  }
  section#users .flex .text h2, section#users .flex .text p {
    text-align: left;
  }
}

@media screen and (min-width: 64rem) {
  section#users .flex .text h2 {
    font-size: 1.4rem;
  }
  section#users .flex .text p {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 90rem) {
  section#users .flex .text h2 {
    font-size: 1.7rem;
  }
  section#users .flex .text p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 40rem) {
  section#users .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 3rem;
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

section#ready {
  padding: 7rem 3rem;
  text-align: center;
}

@media screen and (min-width: 40rem) {
  section#ready {
    padding: 5rem 5rem;
  }
}

@media screen and (min-width: 64rem) {
  section#ready {
    padding: 5rem 8rem;
  }
}

@media screen and (min-width: 90rem) {
  section#ready {
    padding: 5rem 10rem;
  }
}

section#ready button {
  width: 230px;
  height: 40px;
  color: white;
  font-weight: 700;
  background-color: #ff52bf;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 8px 0 gray;
          box-shadow: 0px 3px 8px 0 gray;
  margin-top: 2rem;
}

@media screen and (min-width: 40rem) {
  section#ready button {
    height: 50px;
    border-radius: 25px;
  }
}

section#ready button:hover {
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #ff8fd8;
}

section#ready button:active {
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  background-color: #f5009f;
}

footer {
  padding: 4rem 2rem;
  background-color: #00252e;
}

@media screen and (min-width: 64rem) {
  footer {
    padding: 4rem 6rem;
  }
}

footer .flex {
  color: white;
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (min-width: 64rem) {
  footer .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 25%;
    max-width: unset;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

footer .flex #newsletter {
  position: relative;
}

@media screen and (min-width: 64rem) {
  footer .flex #newsletter {
    max-width: 400px;
  }
}

footer .flex #newsletter h3 {
  text-align: left;
  text-transform: uppercase;
}

footer .flex #newsletter h4 {
  margin-top: 1rem;
}

@media screen and (min-width: 64rem) {
  footer .flex #newsletter h4 {
    max-width: 75%;
  }
}

@media screen and (min-width: 64rem) {
  footer .flex #newsletter .form {
    margin-top: 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 2rem;
  }
}

footer .flex #newsletter .form input {
  margin-top: 2rem;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: none;
  text-align: left;
  padding-left: 1rem;
  margin-top: 0;
}

@media screen and (min-width: 64rem) {
  footer .flex #newsletter .form input {
    height: 100%;
  }
}

footer .flex #newsletter .form button {
  width: 230px;
  height: 40px;
  color: white;
  font-weight: 700;
  background-color: #ff52bf;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 8px 0 gray;
          box-shadow: 0px 3px 8px 0 gray;
  position: relative;
  left: 50%;
  margin-top: 1rem;
  width: 50%;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1rem;
}

@media screen and (min-width: 40rem) {
  footer .flex #newsletter .form button {
    height: 50px;
    border-radius: 25px;
  }
}

footer .flex #newsletter .form button:hover {
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #ff8fd8;
}

footer .flex #newsletter .form button:active {
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  background-color: #f5009f;
}

@media screen and (min-width: 40rem) {
  footer .flex #newsletter .form button {
    border-radius: 4px;
  }
}

@media screen and (min-width: 64rem) {
  footer .flex #newsletter .form button {
    margin-top: 0;
    width: 100%;
    left: 0;
  }
}

footer .flex #newsletter.error #inputEmail {
  border: 2px solid red;
}

footer .flex #newsletter.error::before {
  position: absolute;
  padding-left: 1rem;
  content: "Check your email please";
  bottom: 2.5rem;
  left: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 0.6rem;
  color: #ff4242;
}

@media screen and (min-width: 64rem) {
  footer .flex #newsletter.error::before {
    font-size: 0.8rem;
    bottom: -1.5rem;
  }
}

footer .flex #contactInfo {
  margin-top: 5rem;
}

@media screen and (min-width: 64rem) {
  footer .flex #contactInfo {
    margin-top: 0;
    max-width: 400px;
  }
}

footer .flex #contactInfo .grid .svgLogo {
  width: 150px;
}

footer .flex #contactInfo .grid .svgLogo svg {
  width: 200px;
}

footer .flex #contactInfo .grid .svgLogo svg path {
  fill: white;
}

footer .flex #contactInfo h4 {
  margin-top: 1rem;
  text-align: left;
}

footer .flex #contactInfo p {
  margin-top: 1rem;
}

footer .flex #contactInfo .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .flex #contactInfo .phone::before {
  content: url("../images/icon-phone.svg");
  padding-right: 14px;
}

footer .flex #contactInfo .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .flex #contactInfo .mail::before {
  content: url("../images/icon-email.svg");
  padding-right: 14px;
}

footer .flex #contactInfo .socialMedia {
  margin-top: 3rem;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .flex #contactInfo .socialMedia .svg {
  width: 30px;
  height: 30px;
}

footer .flex #contactInfo .socialMedia .svg:hover {
  cursor: pointer;
}

footer .flex #contactInfo .socialMedia .svg:hover svg path {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  fill: lightskyblue;
}

footer .flex #contactInfo .socialMedia .svg:active svg path {
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  fill: green;
}

footer .flex #contactInfo .socialMedia .svg svg {
  width: 100%;
  height: 100%;
}

footer .flex #contactInfo .socialMedia .svg svg path {
  fill: white;
}

section#bgTop1 {
  content: url("../images/bg-section-top-mobile-1.svg");
  width: 100%;
}

@media screen and (min-width: 640px) {
  section#bgTop1 {
    content: url("../images/bg-section-top-desktop-1.svg");
  }
}

section#bgBottom1 {
  content: url("../images/bg-section-bottom-mobile-1.svg");
  width: 100%;
}

@media screen and (min-width: 640px) {
  section#bgBottom1 {
    content: url("../images/bg-section-bottom-desktop-1.svg");
  }
}

section#bgTop2 {
  content: url("../images/bg-section-top-mobile-2.svg");
  width: 100%;
}

@media screen and (min-width: 640px) {
  section#bgTop2 {
    content: url("../images/bg-section-top-desktop-2.svg");
  }
}

section#bgBottom2 {
  content: url("../images/bg-section-bottom-mobile-2.svg");
  width: 100%;
}

@media screen and (min-width: 640px) {
  section#bgBottom2 {
    content: url("../images/bg-section-bottom-desktop-2.svg");
  }
}

section#bgFooter {
  content: url("../images/bg-footer-top-mobile.svg");
  width: 100%;
}

@media screen and (min-width: 640px) {
  section#bgFooter {
    content: url("../images/bg-footer-top-desktop.svg");
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
}

h4 {
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: left;
  line-height: 1.5rem;
}

p,
button,
input {
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */