@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
header {
  padding: 1rem;
}

header .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .flex img {
  width: 6rem;
}

header .flex button {
  width: 6rem;
  height: 2rem;
  color: #ff8fd8;
  background-color: white;
  border: 1px solid #ff8fd8;
  border-radius: 25px;
}

header .flex button:hover {
  cursor: pointer;
  color: #ff52bf;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-weight: 700;
}

header .flex button:active {
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  border-color: #b80074;
  color: #b80074;
}

section#build {
  padding: 5rem 3rem 0 3rem;
  margin: 0 auto;
  text-align: center;
}

section#build h1 {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

section#build p {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

section#build button {
  width: 230px;
  height: 40px;
  color: white;
  font-weight: 700;
  background-color: #ff52bf;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 8px 0 gray;
          box-shadow: 0px 3px 8px 0 gray;
}

section#build button:hover {
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #ff8fd8;
}

section#build button:active {
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  background-color: #f5009f;
}

section#mockup {
  padding: 5rem 2rem;
}

section#mockup .grid img {
  width: 100%;
}

section#mockup .grid .card {
  width: 12rem;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 1rem;
  text-align: left;
}

section#mockup .grid .card img {
  position: relative;
  width: 25px;
  left: 0.8rem;
  top: 6px;
}

section#mockup .grid .card h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
}

section#mockup .grid .card p {
  color: gray;
}

section#grow {
  padding: 7rem 3rem;
  background-color: #f5faff;
}

section#grow .flex img {
  width: 100%;
}

section#grow .flex .text {
  margin-top: 3rem;
}

section#grow .flex .text h2 {
  font-size: 1.1rem;
}

section#grow .flex .text p {
  margin-top: 1rem;
}

section#flow {
  padding: 7rem 3rem;
}

section#flow .flex img {
  width: 100%;
}

section#flow .flex .text {
  margin-top: 3rem;
}

section#flow .flex .text h2 {
  font-size: 1.1rem;
}

section#flow .flex .text p {
  margin-top: 1rem;
}

section#users {
  padding: 7rem 3rem;
  background-color: #f5faff;
}

section#users .flex img {
  width: 100%;
}

section#users .flex .text {
  margin-top: 3rem;
}

section#users .flex .text h2 {
  font-size: 1.1rem;
}

section#users .flex .text p {
  margin-top: 1rem;
}

section#ready {
  padding: 7rem 3rem;
  text-align: center;
}

section#ready button {
  width: 230px;
  height: 40px;
  color: white;
  font-weight: 700;
  background-color: #ff52bf;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 8px 0 gray;
          box-shadow: 0px 3px 8px 0 gray;
  margin-top: 2rem;
  margin-bottom: 15rem;
}

section#ready button:hover {
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #ff8fd8;
}

section#ready button:active {
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  background-color: #f5009f;
}

footer {
  padding: 4rem 2rem;
  background-color: #00252e;
}

footer .flex {
  color: white;
}

footer .flex #newsletter {
  position: relative;
}

footer .flex #newsletter h3 {
  text-align: left;
  text-transform: uppercase;
}

footer .flex #newsletter h4 {
  margin-top: 1rem;
}

footer .flex #newsletter input {
  margin-top: 2rem;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: none;
  text-align: left;
  padding-left: 1rem;
}

footer .flex #newsletter button {
  width: 230px;
  height: 40px;
  color: white;
  font-weight: 700;
  background-color: #ff52bf;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 8px 0 gray;
          box-shadow: 0px 3px 8px 0 gray;
  position: relative;
  left: 50%;
  margin-top: 1rem;
  width: 50%;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1rem;
}

footer .flex #newsletter button:hover {
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #ff8fd8;
}

footer .flex #newsletter button:active {
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  background-color: #f5009f;
}

footer .flex #newsletter.error::before {
  position: absolute;
  padding-left: 1rem;
  content: "Check your email please";
  top: 12rem;
  left: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 0.6rem;
  color: #ff4242;
}

footer .flex #contactInfo {
  margin-top: 5rem;
}

footer .flex #contactInfo .grid .svgLogo {
  width: 150px;
}

footer .flex #contactInfo .grid .svgLogo svg {
  width: 200px;
}

footer .flex #contactInfo .grid .svgLogo svg path {
  fill: white;
}

footer .flex #contactInfo h4 {
  margin-top: 1rem;
  text-align: left;
}

footer .flex #contactInfo p {
  margin-top: 1rem;
}

footer .flex #contactInfo .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .flex #contactInfo .phone::before {
  content: url("../images/icon-phone.svg");
  padding-right: 14px;
}

footer .flex #contactInfo .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .flex #contactInfo .mail::before {
  content: url("../images/icon-email.svg");
  padding-right: 14px;
}

footer .flex #contactInfo .socialMedia {
  margin-top: 3rem;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .flex #contactInfo .socialMedia .svg {
  width: 30px;
  height: 30px;
}

footer .flex #contactInfo .socialMedia .svg:hover {
  cursor: pointer;
}

footer .flex #contactInfo .socialMedia .svg:hover svg path {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  fill: lightskyblue;
}

footer .flex #contactInfo .socialMedia .svg:active svg path {
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  fill: green;
}

footer .flex #contactInfo .socialMedia .svg svg {
  width: 100%;
  height: 100%;
}

footer .flex #contactInfo .socialMedia .svg svg path {
  fill: white;
}

section#bgTop1 {
  content: url("../images/bg-section-top-mobile-1.svg");
  width: 100%;
}

section#bgBottom1 {
  content: url("../images/bg-section-bottom-mobile-1.svg");
  width: 100%;
}

section#bgTop2 {
  content: url("../images/bg-section-top-mobile-2.svg");
  width: 100%;
}

section#bgBottom2 {
  content: url("../images/bg-section-bottom-mobile-2.svg");
  width: 100%;
}

section#bgFooter {
  content: url("../images/bg-footer-top-mobile.svg");
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
}

h4 {
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: left;
  line-height: 1.5rem;
}

p,
button,
input {
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */