header{

    padding: 1rem;

    .flex
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img{
            width: 6rem;
        }

        button{
            width: 6rem;
            height: 2rem;
            color: $lightPink;
            background-color: white;
            border: 1px solid $lightPink;
            border-radius: 25px;
            

            &:hover{
                cursor: pointer;
                color: $pink;
                transition: all 0.5s ease-in-out;
                font-weight: 700;
            }

            &:active{
                transition: all 0s ease-in-out;
                border-color: darken($pink, 30%);
                color: darken($pink, 30%);
            }
        }
    }



}