@import "fonts";
@import "mixins";
@import "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    //     font-family: 'Poppins', sans-serif; 700

    //font-family: 'Open Sans', sans-serif; 4 6 7

}


